<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>

<body>
<!--<div class="wrapper">-->
<!-- Navigation -->
<header th:replace="fragments/header"></header>

<!-- Top Container -->
<div class="row justify-content-center ">
    <form id="add-route-form" class="w-50 rounded text-white mt-5"
          action="/routes/new"
          method="POST" enctype="multipart/form-data">
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}" />
        <h3 class="border-left border-light pl-2">Add a new route</h3>
        <div>
            <div class="form-group">
                <label for="inputName" class="col-form-label ">Name</label>
            </div>
            <div class="form-group">
                <input name="name"
                       required minlength="5" maxlength="20"
                       type="text"
                       id="inputName"
                       class="form-control"
                       aria-describedby="inputNameError">
                <small id="inputNameError"
                       class="invalid-feedback bg-danger rounded">Name length must be more than 3 characters</small>

            </div>
        </div>

        <div>
            <div class="form-group">
                <label for="inputDescription" class="col-form-label ">Description</label>
            </div>
            <div class="form-group">
                    <textarea name="description"
                              required minlength="5"
                              id="inputDescription"
                              class="form-control"
                              aria-describedby="inputDescriptionError"></textarea>
                <small id="inputDescriptionError"
                       class="invalid-feedback  form-text bg-danger rounded">Description length must be more than 5
                    characters</small>
            </div>
        </div>

        <div>
            <div class="form-group">
                <label for="image" class="col-form-label ">Image</label>
            </div>
            <div class="form-group">
                <input type="file" name="image"
                       required
                       id="image"
                       class="form-control-file"
                       aria-describedby="image">
                <small id="inputGpxError"
                       class="invalid-feedback  form-text bg-danger rounded">Must be valid image.</small>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label for="level">Level</label>
                <select id="level" class="custom-select">
<!--                    BEGINNER, INTERMEDIATE, ADVANCED-->
                    <option value="BEGINNER" selected>BEGINNER</option>
                    <option value="INTERMEDIATE">INTERMEDIATE</option>
                    <option value="ADVANCED">ADVANCED</option>
                </select>
            </div>
        </div>
        <div>

            <div class="form-group">
                <label for="videoUrl">Video Url (only last eleven characters from Youtube)</label>
                <input id="videoUrl" type="text"
                       class="form-control" placeholder="Video url">
            </div>
        </div>

        <div>
            <div class="form-group p-3">
                <label class="p-2" for="categories">Categories:</label>
                <input class="m-3" type="checkbox" name="categories" id="categories"
                       value="1" text="Category">
                <br>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-primary btn-block w-50" type="submit">Add Route</button>
        </div>

    </form>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
